//SPRITE
// @import "compass/utilities/sprites";
// $sprite-layout:horizontal;
// $sprite-spacing: 4px;
// $sprite-sprite-dimensions: true;
// @import "sprite/*.png";
// @include all-sprite-sprites;
//UTILS
@import "compass/reset";
@import "utils/fonts";
@import "utils/variables";
//IMPORT PAGES
@import "pages/body";
@import "pages/encontrar-boutique";
