//SPRITE
// @import "compass/utilities/sprites";
// $sprite-layout:horizontal;
// $sprite-spacing: 4px;
// $sprite-sprite-dimensions: true;
// @import "sprite/*.png";
// @include all-sprite-sprites;
//UTILS
@import "compass/reset";
@import "utils/fonts";
@import "utils/variables";
//IMPORT PAGES
@import "pages/body";
@import "pages/landing-page-modular";
@import "pages/cadastro-newsletter";
@import "pages/selecionar-pais";
@import "pages/termos-condicoes";
@import "pages/institucional";
@import "pages/contato";
@import "pages/faq";
@import "pages/magazine-todas";
@import "pages/magazine-historia";
@import "pages/home";
@import "pages/404";
@import "pages/vitrines-departamento";
@import "pages/produtos";
@import "pages/login";
@import "pages/vitrines";
@import "pages/voltar-topo";
