section.master {
  width: 100%;
  margin: 0 auto;
  .content {
    max-width: 1280px;
    margin: 0 auto;
    width: 100%;
    .conteudo {
      margin: 0 auto;
      width: 100%;
    }
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  list-style: none;
}
body {
  width: 100%;
  font-family: "Helvetica Neue", Helvetica, Arial, "Microsoft Yahei",
    "Hiragino Sans GB", "Heiti SC", "WenQuanYi Micro Hei";
  &::-webkit-scrollbar {
    width: 5px;
  }
  &::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  &::-webkit-scrollbar-thumb {
    background: #888;
  }
  &::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
}
a {
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
  outline: none;
  transition: 0.4s all ease-in-out;
  color: #202020;
}
.no-pointer {
  pointer-events: none;
}
$Montblanc: "Helvetica Neue", Helvetica, Arial, "Microsoft Yahei",
  "Hiragino Sans GB", "Heiti SC", "WenQuanYi Micro Hei";

@import "./components/header";
@import "./components/footer";
@import "./pages/home";
