header {
  background: rgba(0, 0, 0, 0.6);
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 9999;
  transition: 1s;
  .icon {
    cursor: pointer;
  }
  section.master.top-news {
    background: #fff;
    &.hide {
      display: none !important;
    }
    svg {
      cursor: pointer;
    }
  }
  section.master.top-news .conteudo .line {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    font-size: 12px;
    line-height: 16px;
    color: #202020;
    font-family: $Montblanc;
    span {
      margin-left: 10px;
      text-decoration: underline;
      cursor: pointer;
    }
    a {
      text-decoration: underline;
      margin-left: 10px;
    }
  }

  section.header-web-site {
    .content.up {
      overflow: visible !important;
    }
  }

  section.menu-busca {
    display: none;
    position: absolute;
    background-color: #fff;
    width: 100%;
    padding: 58px 0;
    font-family: $Montblanc;
    .search-title {
      display: flex;
      justify-content: space-between;
      .btn-close-busca {
        cursor: pointer;
      }
      h1 {
        font-size: 12px;
        text-transform: uppercase;
        color: #202020;
        letter-spacing: 2px;
        font-weight: 600;
      }
    }
    ul.ui-autocomplete {
      top: 30px !important;
      line-height: 25px;
      li {
        img {
          display: none;
        }
      }
    }
    fieldset.busca {
      border: none;
      position: relative;
      legend,
      label,
      select {
        display: none;
      }
      input.fulltext-search-box {
        width: 100%;
        padding: 12px 0;
        border: none;
        border-bottom: 1px solid #444444;
        font-size: 32px;
        color: #d2d2d2;
        position: relative;
      }
      input.btn-buscar {
        position: absolute;
        top: 17px;
        right: 0;
        border: none;
        color: transparent;
        width: 24px;
        height: 24px;
        background-color: transparent;
        background-image: url(/arquivos/search-icon.png);
        background-position: center;
        background-repeat: no-repeat;
        cursor: pointer;
      }
    }
  }

  .conteudo {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 15px 0px 18px 0px;
    @media (max-width: 1000px) {
      flex-wrap: wrap;
    }
  }
  .menu {
    align-items: center;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid rgba(255, 255, 255, 0.4);
    position: relative;
    nav {
      width: 100%;
      max-width: 1280px;
      margin: 0 auto;
      ul {
        display: flex;
        align-items: center;
        justify-content: space-around;
        li {
          padding: 16px 0px;
          display: flex;
          justify-content: center;
          a {
            color: #fff;
            font-family: $Montblanc;
            font-style: regular;
            font-size: 11px;
            vertical-align: middle;
            text-align: left;
            letter-spacing: 2%;
            text-transform: uppercase;
          }
          .arrow-up {
            background-color: #fff;
            width: 10px;
            height: 10px;
            position: absolute;
            bottom: -5px;
            transform: rotate(45deg);
            display: none;
          }
          .box-links {
            display: none;
            position: absolute;
            background-color: #fff;
            width: 100%;
            left: 0;
            top: 43px;
            max-height: 350px;
            .content {
              display: flex !important;
              justify-content: space-between;
              padding: 41px 0 64px;
              .links {
                h1 {
                  font-size: 12px;
                  line-height: 12px;
                  letter-spacing: 0.2em;
                  text-transform: uppercase;
                  color: #555555;
                  border-bottom: 1px solid #d2d2d2;
                  padding-bottom: 11px;
                  margin-bottom: 13px;
                  font-family: $Montblanc;
                }
                ul {
                  display: flex;
                  flex-direction: column;
                  flex-wrap: wrap;
                  align-items: flex-start;
                  max-height: 240px;
                  max-width: 200px;
                  li {
                    padding: 0;
                    margin-right: 20px;
                    a {
                      font-size: 15px;
                      line-height: 35px;
                      color: #555555;
                      letter-spacing: 0.01em;
                      text-transform: initial;
                      cursor: pointer;
                    }
                    a:hover {
                      text-decoration: underline;
                    }
                  }
                }
              }
              .links > a {
                color: #757575;
                line-height: 35px;
                font-size: 15px;
                letter-spacing: 0.01em;
                text-transform: initial;
                font-style: italic;
                cursor: pointer;
              }
              .links > a:hover {
                text-decoration: underline;
              }
              .links:nth-child(1),
              .links:nth-child(3) {
                max-width: 250px;
              }
              .links:nth-child(2) {
                margin: 0 100px;
                max-width: 480px;
                width: 100%;
              }
            }
          }
        }
        li:hover {
          .box-links,
          .arrow-up {
            display: block;
          }
        }
      }
    }
  }
  .box {
    width: 100%;
    max-width: 33.3%;
  }
  .box.logo {
    flex-grow: 2;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .box.cliente.acessos.lista,
  .box.search.location {
    display: flex;
    align-items: center;
    .icon {
      margin-left: 50px;
      &:first-child {
        margin-left: 0px;
      }
    }
  }
  button.menu-mobile {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    -ms-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
    z-index: 1;
    display: block;
    width: 23px;
    height: 20px;
    position: absolute;
    cursor: pointer;
    background: transparent;
    border: 0;
    left: 0;
    margin-left: 15px;
    top: 63px;
    display: none;
    .menu-mobile-icon {
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      -webkit-transition: 0.3s ease-in-out;
      -moz-transition: 0.3s ease-in-out;
      -ms-transition: 0.3s ease-in-out;
      -o-transition: 0.3s ease-in-out;
      transition: 0.3s ease-in-out;
      position: absolute;
      height: 2px;
      width: 100%;
      background: #fff;
      opacity: 1;
      left: 0;
      top: 9px;
    }
  }
  button.menu-mobile:before,
  button.menu-mobile:after {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    -ms-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
    position: absolute;
    height: 2px;
    width: 100%;
    background: #fff;
    opacity: 1;
    left: 0;
  }
  button.menu-mobile:before {
    content: "";
    top: 0;
  }
  button.menu-mobile:after {
    content: "";
    top: 18px;
    width: 100%;
  }
  button.menu-mobile.active {
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    -ms-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
    z-index: 10;
    .menu-mobile-icon {
      opacity: 0;
    }
  }
  button.menu-mobile.active:before {
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    -ms-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    top: 8px;
  }
  button.menu-mobile.active:after {
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    -ms-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -ms-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    top: 8px;
    width: 100%;
  }
  .box.cliente.acessos.lista {
    justify-content: flex-end;
    .icon {
      margin-left: 50px;
      position: relative;
      &:first-child {
        margin-left: 0px;
      }
    }
    .icon.cadastre-se.login,
    .icon.logout a {
      text-decoration: none;
      font-family: $Montblanc;
      display: flex;
      align-items: center;
      font-size: 12px;
      line-height: 12px;
      /* identical to box height, or 100% */
      text-align: right;
      letter-spacing: 0.02em;
      color: #ffffff;
      svg {
        margin-left: 18px;
      }
    }
    .icon.logout {
      display: none;
      .box-logout {
        display: flex;
        align-items: center;
      }
      a.minha-conta {
        border-right: 1px solid #fff;
        margin-right: 20px;
        padding-right: 20px;
      }
      a.logout {
        margin-right: 20px;
      }
    }
    .icon.minicart {
      position: relative;
      .qtd-cart {
        position: absolute;
        color: #fff;
        right: -20px;
        top: 5px;
        font-size: 14px;
        font-family: $Montblanc;
      }
      .minicart-vazio {
        display: none;
        position: absolute;
        background-color: #fff;
        width: 300px;
        right: -30px;
        top: 48px;
        padding: 30px;
        z-index: 2000;
        cursor: default;
        font-family: $Montblanc;
        h3 {
          color: #444444;
          font-size: 14px;
          line-height: 16px;
          text-transform: uppercase;
          text-align: center;
        }
        a {
          display: flex;
          justify-content: center;
          margin-top: 25px;
          color: #444444;
        }
        a:hover {
          text-decoration: underline;
        }
      }
      .portal-minicart-ref {
        display: none;
        position: absolute;
        right: 0px;
        top: 0;
        width: 30px;
        height: 30px;
        z-index: 2000;
        .vtexsc-cart {
          width: 360px;
          cursor: default;
          background-color: #fff;
          position: absolute;
          top: 47px;
          right: -30px;
          padding: 30px;
          font-family: $Montblanc;
          .vtexsc-center {
            .cartFooter {
              .cartTotal {
                display: none;
              }
              a.cartCheckout {
                display: flex;
                width: 100%;
                justify-content: center;
                align-items: center;
                background-color: #202020;
                height: 50px;
                font-size: 12px;
                color: #fff;
                line-height: 12px;
                margin-top: 15px;
              }
            }
            .vtexsc-wrap {
              th.cartSkuPrice,
              td.cartSkuPrice {
                display: none;
              }
            }
            table.vtexsc-productList {
              thead {
                th {
                  border-bottom: 1px solid #d2d2d2;
                  padding-bottom: 10px;
                  text-transform: uppercase;
                }
                th.cartSkuActions {
                  color: transparent;
                }
              }
              tbody {
                td {
                  padding: 10px 0;
                }
                td.cartSkuImage {
                  padding-right: 22px;
                  img {
                    width: 50px;
                    height: 50px;
                  }
                }
                td.cartSkuName a {
                  color: #202020;
                  font-size: 12px;
                  line-height: 18px;
                  font-family: $Montblanc;
                }
                td.cartSkuQuantity {
                  padding: 0 10px;
                  text-align: center;
                  font-size: 14px;
                  color: #202020;
                }
                td.cartSkuActions {
                  text-align: center;
                  span.cartSkuRemove a {
                    color: #d2d2d2;
                    font-size: 20px;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  .box.search.location {
    justify-content: flex-start;
  }
}

header.actived {
  background: #202020;
}

@media (min-width: 951px) {
  header .menu {
    display: flex !important;
  }
}

@media (max-width: 950px) {
  section.master {
    .content {
      padding: 0 15px;
      display: block !important;
      overflow: visible !important;
      height: 100% !important;
      position: relative;
    }
  }
  header {
    button.menu-mobile {
      display: block;
    }
    .menu {
      display: none;
      nav {
        ul {
          flex-direction: column;
          align-items: flex-start;
          padding: 0 15px;
          li {
            padding: 10px 0px;
            .box-links {
              display: none !important;
            }
            .arrow-up {
              display: none !important;
            }
          }
        }
      }
    }
    .menu.active {
      display: flex;
    }
    section.menu-busca {
      padding: 28px 15px;
      fieldset.busca {
        input.fulltext-search-box {
          padding: 12px 0;
          font-size: 25px;
        }
      }
    }
    .conteudo {
      flex-direction: column;
    }
    .box {
      max-width: unset;
    }
    .box.logo {
      margin-top: 10px;
    }
    .box.cliente.acessos.lista {
      padding: 0 30px 0 15px;
      position: absolute;
      width: max-content;
      right: 0;
      .icon {
        margin-left: 40px;
      }
      .icon.cadastre-se.login,
      .icon.logout a {
        font-size: 0px;
        color: transparent;
        height: 25px;
      }
    }
    section.master.top-news {
      .conteudo {
        flex-wrap: inherit;
        flex-direction: inherit;
        .line {
          flex-direction: column;
          p {
            margin-bottom: 10px;
          }
          a {
            margin-left: 0px;
          }
        }
      }
    }
  }
}
