section.page-404 {
  margin: 180px 0;
  .content {
    text-align: center;
    font-family: $fonte01;
    h1 {
      font-size: 13px;
      letter-spacing: 0.2em;
      margin-bottom: 20px;
      color: #444444;
    }
    h2 {
      font-size: 30px;
      line-height: 37px;
      margin-bottom: 50px;
    }
    p {
      font-size: 16px;
      margin-bottom: 80px;
      line-height: 22px;
      color: #444444;
    }
    a {
      width: 275px;
      height: 50px;
      display: flex;
      margin: 0 auto;
      border: 1px solid #444444;
      justify-content: center;
      align-items: center;
      text-decoration: none;
      color: #444444;
      font-size: 12px;
      letter-spacing: 0.01em;
      text-transform: uppercase;
      font-weight: bold;
    }
  }
}
