body {
  margin: 0;
  padding: 0;

  .content {
    max-width: 1190px;
    margin: 0 auto;
    position: relative;
    box-sizing: border-box;
  }
}

div#ajaxBusy {
  display: none !important;
}

a {
  transition: all 0.4s ease-in-out;
}
