section.contato {
  margin-top: 180px;
  margin-bottom: 80px;
  .content {
    font-family: $fonte01;
    text-align: center;
    color: #202020;
    h1 {
      font-size: 19px;
      font-weight: 600;
      margin-bottom: 20px;
    }
    img {
      width: 100%;
    }
    .cards {
      margin: 20px 0 60px;
      display: flex;
      .card {
        background-color: #f2f2f2;
        padding: 37px 0;
        width: 100%;
        display: flex;
        flex-direction: column;
        h2 {
          font-size: 18px;
          font-weight: bold;
          letter-spacing: 0.01em;
          margin-bottom: 15px;
        }
        span {
          font-size: 16px;
          color: #444444;
          letter-spacing: 0.01em;
          line-height: 140%;
          a {
            color: #949494;
          }
          strong {
            font-weight: bold;
          }
        }
        span:nth-child(2) {
          margin-bottom: 25px;
        }
      }
      .card:nth-child(1) {
        margin-right: 25px;
      }
    }
    .sac {
      p {
        font-size: 16px;
        color: #444444;
      }
      form {
        padding: 39px 60px 48px 60px;
        margin-top: 30px;
        background-color: #f2f2f2;
        box-sizing: border-box;
        font-size: 13px;
        letter-spacing: 0.05em;
        text-align: left;
        .inputs {
          display: grid;
          grid-template-columns: 1fr 1fr 1fr;
          column-gap: 18px;
          .input {
            width: 100%;
            input {
              width: 100%;
              height: 50px;
              font-family: $fonte01;
              box-sizing: border-box;
              border: 1px solid #d2d2d2;
              padding-left: 21px;
              font-size: 15px;
              font-style: italic;
              letter-spacing: 0.02em;
              margin: 10px 0 40px;
            }
          }
          .assunto-select {
            position: relative;
          }
          .assunto-select::after {
            content: "\f078";
            font-family: "FontAwesome";
            position: absolute;
            font-size: 15px;
            right: 16px;
            top: 41px;
            pointer-events: none;
          }
          select {
            font-family: $fonte01;
            margin: 10px 0 40px;
            width: 100%;
            height: 50px;
            padding-left: 21px;
            color: #202020;
            font-size: 15px;
            letter-spacing: 0.02em;
            border: 1px solid #d2d2d2;
            box-sizing: border-box;
          }
          select {
            -webkit-appearance: none;
            cursor: pointer;
          }
        }
        textarea {
          width: 99.4%;
          height: 160px;
          margin-top: 10px;
          font-family: $fonte01;
          box-sizing: border-box;
          border: 1px solid #d2d2d2;
          padding-left: 21px;
          padding-top: 21px;
          font-size: 15px;
          font-style: italic;
          letter-spacing: 0.02em;
        }
        button {
          margin: 31px auto 0;
          height: 50px;
          width: 344px;
          display: flex;
          justify-content: center;
          align-content: center;
          font-size: 12px;
          letter-spacing: 0.1em;
          text-transform: uppercase;
          color: #ffffff;
          background-color: #202020;
          border: none;
          cursor: pointer;
          transition: all 0.4s ease-in-out;
        }
        button:hover {
          background-color: #4b4b4b;
        }
      }
    }
  }
}

@media (max-width: 950px) {
  section.contato {
    .content {
      .cards {
        flex-direction: column;
        .card:nth-child(1) {
          margin-bottom: 25px;
          margin-right: 0;
        }
      }
      .sac {
        form {
          .inputs {
            grid-template-columns: 1fr;
          }
          button {
            width: 100%;
          }
        }
      }
    }
  }
}
