section.institucional {
    margin-top: 180px;
    margin-bottom: 80px;
    .content {
        font-family: $fonte01;
        display: flex;
        h1 {
            font-size: 19px;
            color: #202020;
            font-weight: 600;
        }
        .institucional-titles {
            min-width: 282px;
            h1 {
                margin-bottom: 30px;
            }
            .title {
                padding-left: 10px;
                font-size: 14px;
                letter-spacing: 0.01em;
                color: #444444;
                height: 47px;
                display: flex;
                align-items: center;
                border-bottom: 1px solid #d2d2d2;
                cursor: pointer;
            }
            .title:nth-child(2) {
                border-top: 1px solid #d2d2d2;
            }
            .title.active {
                font-weight: 600;
            }
        }
        .institucional-contents {
            margin-left: 23px;
            width: 100%;
            .text {
                display: none;
            }
            .text.active {
                display: block;
            }
            .text-topic {
                width: 100%;
                p {
                    max-width: 475px;
                    font-size: 14px;
                    line-height: 140%;
                    letter-spacing: 0.01em;
                    color: #444444;
                    padding-top: 30px;
                    margin-right: 28px;
                    strong {
                        font-weight: 600;
                    }
                }
                .only-text {
                    max-width: 100%;
                }
                img {
                    padding-top: 30px;
                    width: max-content;
                    height: fit-content;
                }
            }
            .text-topic.with-img {
                display: flex;
            }
        }
    }
}

@media (max-width: 950px) {
    section.institucional {
        .content {
            flex-direction: column;
            padding: 0 30px;
            .institucional-contents {
                margin-left: 0;
                margin-top: 50px;
                .text-topic.with-img {
                    flex-direction: column;
                }
            }
        }
    }
}
