.vtexIdUI {
  top: 240px !important;
  min-height: 229px !important;
  border-radius: unset !important;
  border: unset !important;
  box-shadow: unset !important;
  border-bottom: unset !important;
  font-family: $fonte01 !important;
  .vtexIdUI-heading {
    text-align: center !important;
    font-size: 15px !important;
    letter-spacing: 0.01em !important;
    color: #ffffff !important;
  }
  .modal-header {
    background: #202020 !important;
    text-align: center !important;
    i#btn-close-login {
      color: #ffffff;
      cursor: pointer;
      font-weight: 700;
      font-size: 12px;
      position: absolute;
      top: 15px;
      right: 15px;
      z-index: 9999;
    }
  }
  .vtexIdUI-page {
    min-height: 240px !important;
  }
  .vtexid-icon-lock.bottom-icon {
    display: none !important;
  }
  .btn-success {
    background-color: #202020 !important;
    background-image: unset !important;
    border-color: unset !important;
  }
  .btn-large {
    font-size: 11px !important;
    text-transform: uppercase !important;
    letter-spacing: 0.1em !important;
  }
  .btn {
    border-radius: unset !important;
    border: 0 !important;
    box-shadow: unset !important;
    color: #ffffff !important;
    background-color: #202020 !important;
    background-image: unset !important;
    text-shadow: unset !important;
  }
  i.vtexid-icon-mail {
    display: none !important;
  }
  .modal-body {
    padding: 30px !important;
  }
  button#sendAccessKeyBtn {
    width: 150px !important;
  }
  .pull-right {
    float: unset !important;
  }
  .modal-footer {
    display: flex !important;
    justify-content: flex-end !important;
    padding: 0 30px 30px !important;
    background-color: unset !important;
    border-top: unset !important;
    button {
      margin-left: 20px;
      width: 150px !important;
    }
  }
  .vtexIdUI-back-link {
    display: flex !important;
    i {
      margin-right: 10px !important;
    }
  }
  .vtexId-link,
  a {
    color: #202020 !important;
    text-align: end !important;
  }
  input.input-block-level {
    min-height: 50px !important;
  }
  .vtexIdUI input[type="text"],
  .vtexIdUI input[type="password"],
  .vtexIdUI input[type="email"] {
    padding: 0 0 0 20px !important;
    border-radius: unset !important;
    border: 2px solid #cccccc !important;
    color: #202020 !important;
    margin-bottom: 30px !important;
  }
  label {
    margin-bottom: 10px !important;
    font-size: 15px !important;
  }
  .vtexIdUI-classic-login-control input,
  .vtexIdUI .vtexIdUI-change-pswd input,
  .vtexIdUI .vtexIdUI-change-exp-pswd input {
    height: 50px !important;
  }
  a.dead-link.pull-right {
    margin-bottom: 10px;
  }
}
.control-group.vtexIdUI-classic-login-control {
  display: flex !important;
  flex-direction: column !important;
}

#vtexIdUI-global-loader {
  display: none !important;
}
#vtexIdContainer {
  display: none;
  position: fixed !important;
  background: rgba(0, 0, 0, 0.6) !important;
}
