body.magazine-todas {
  background-color: #f2f2f2;
}

section.banner-principal-todas {
  position: relative;
  background-image: url(/arquivos/banner-magazine01.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 590px;
  .text {
    position: absolute;
    top: 59%;
    font-family: $fonte01;
    color: #ffffff;
    letter-spacing: 0.03em;
    text-align: center;
    margin: 0 auto;
    width: 100%;
    h1 {
      font-size: 42px;
      line-height: 27px;
      margin-bottom: 1.3%;
    }
    p {
      font-size: 15px;
      line-height: 27px;
      margin-bottom: 2%;
    }
    a {
      display: flex;
      align-items: center;
      justify-content: center;
      color: #ffffff;
      text-decoration: none;
      border: 1px solid #ffffff;
      width: 275px;
      height: 48px;
      font-size: 12px;
      text-transform: uppercase;
      margin: 0 auto;
      transition: all 0.4s ease-in-out;
    }
    a:hover {
      background-color: #fff;
      color: #202020;
    }
  }
}

section.products {
  margin-top: 80px;
  .content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 26px;
    row-gap: 26px;
    justify-content: center;
    .product {
      background-color: #ffffff;
      max-width: 381px;
      margin: 0 auto;
      height: 461px;
      font-family: $fonte01;
      color: #202020;
      img {
        width: 100%;
      }
      .description {
        padding: 38px;
        h1 {
          font-size: 12px;
          letter-spacing: 0.2em;
          text-transform: uppercase;
          margin-bottom: 13px;
        }
        h2 {
          font-size: 22px;
          letter-spacing: 0.05em;
          line-height: 32px;
          height: 115px;
        }
        a {
          color: #202020;
          font-size: 15px;
          letter-spacing: 0.05em;
          font-weight: bold;
          text-decoration: underline;
        }
        a:hover {
          color: #9b9b9b;
        }
      }
    }
  }
}

section.magazine-banner-todas {
  margin: 80px 0;
  .content {
    .box-banner {
      position: relative;
      display: grid !important;
      grid-template-columns: 50% 50%;
      background-color: #ffffff;
      .card-img {
        img {
          width: 100%;
        }
      }
      .card-text {
        font-family: $fonte01;
        margin: 15% 0 0 8%;
        color: #202020;
        h2 {
          font-size: 12px;
          line-height: 12px;
          letter-spacing: 0.2em;
          text-transform: uppercase;
          margin-bottom: 14px;
        }
        h1 {
          font-size: 22px;
          line-height: 32px;
          letter-spacing: 0.05em;
          margin-bottom: 30px;
        }
        p {
          max-width: 380px;
          font-size: 15px;
          line-height: 27px;
          letter-spacing: 0.05em;
          color: #444444;
          margin-bottom: 20px;
        }
        a {
          outline: none;
          text-decoration-line: underline;
          color: #202020;
          font-size: 15px;
          line-height: 32px;
        }
        a:hover {
          color: #9b9b9b;
        }
      }
    }
    .slick-slider {
      position: relative;

      display: block;
      box-sizing: border-box;

      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;

      -webkit-touch-callout: none;
      -khtml-user-select: none;
      -ms-touch-action: pan-y;
      touch-action: pan-y;
      -webkit-tap-highlight-color: transparent;
    }

    .slick-list {
      position: relative;

      display: block;
      overflow: hidden;
      margin: 0;
      padding: 0;
    }
    .slick-list:focus {
      outline: none;
    }
    .slick-list.dragging {
      cursor: pointer;
      cursor: hand;
    }

    .slick-slider .slick-track,
    .slick-slider .slick-list {
      -webkit-transform: translate3d(0, 0, 0);
      -moz-transform: translate3d(0, 0, 0);
      -ms-transform: translate3d(0, 0, 0);
      -o-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }

    .slick-track {
      position: relative;
      top: 0;
      left: 0;

      display: block;
      margin-left: auto;
      margin-right: auto;
    }
    .slick-track:before,
    .slick-track:after {
      display: table;

      content: "";
    }
    .slick-track:after {
      clear: both;
    }
    .slick-loading .slick-track {
      visibility: hidden;
    }

    [dir="rtl"] .slick-slide {
      float: right;
    }
    .slick-slide img {
      display: block;
      margin: 0 auto;
      width: 100%;
    }
    .slick-slide.slick-loading img {
      display: none;
    }
    .slick-slide.dragging img {
      pointer-events: none;
    }
    .slick-initialized .slick-slide {
      display: block;
    }
    .slick-loading .slick-slide {
      visibility: hidden;
    }
    .slick-vertical .slick-slide {
      display: block;

      height: auto;

      border: 1px solid transparent;
    }
    .slick-arrow.slick-hidden {
      display: none;
    }

    .arrow.prev.slick-arrow,
    .arrow.next.slick-arrow {
      top: 39%;
      width: 80px;
      height: 80px;
      border: 1px solid #202020;
      color: #585858;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: all 0.2s ease-in-out;
    }

    .arrow.prev.slick-arrow:hover,
    .arrow.next.slick-arrow:hover {
      background-color: #202020;
      color: #fff;
    }

    .arrow.prev.slick-arrow {
      left: -100px;
    }
    .arrow.next.slick-arrow {
      right: -100px;
    }
    .arrow.slick-arrow {
      position: absolute;
      color: #fff;
      z-index: 1;
      top: calc(49.14% - 135px);
      font-size: 36px;
      cursor: pointer;
    }
    ul.slick-dots {
      display: flex;
      position: absolute;
      bottom: calc(9% + 255px);
      right: calc(50% - 31%);
      li button {
        background: none;
        border: 1px solid #fff;
        border-radius: 100%;
        color: transparent;
        padding: 0;
        width: 10px;
        height: 10px;
        margin-left: 25px;
        cursor: pointer;
        outline: none;
      }
      li.slick-active button {
        background-color: #fff;
      }
    }
  }
}

@media (max-width: 950px) {
  section.banner-principal-todas {
    height: 250px;
    margin-top: 104px;
    .text {
      top: 35%;
      h1 {
        font-size: 25px;
      }
      p {
        font-size: 13px;
      }
      .btn-banner {
        width: 50%;
        height: 38px;
      }
    }
  }
  section.products {
    margin-top: 40px;
    .content {
      grid-template-columns: 1fr;
      margin: 30px;
    }
  }
  section.magazine-banner-todas {
    margin: 80px 0;
    .content {
      .box-banner {
        grid-template-columns: 100%;
        .card-text {
          margin: 8% 8%;
        }
      }
      .arrow.next.slick-arrow {
        right: 10px;
      }
      .arrow.prev.slick-arrow {
        left: 10px;
      }
      .arrow.next.slick-arrow,
      .arrow.prev.slick-arrow {
        top: 24%;
        width: 30px;
        height: 30px;
        border: 1px solid #ffffff;
        color: #ffffff;
        font-size: 24px;
      }
    }
  }
}
