section.produto-item {
  padding-top: 180px;
  padding-bottom: 107px;
  background-color: #f2f2f2;
  .links {
    font-family: $fonte01;
    font-size: 12px;
    color: #202020;
    display: flex;
    align-items: center;
    transition: all 0.4s ease-in-out;
    i {
      font-size: 25px;
      margin-right: 15px;
      cursor: pointer;
      transition: all 0.4s ease-in-out;
    }

    span {
      text-decoration: underline;
      margin-right: 20px;
      cursor: pointer;
      transition: all 0.4s ease-in-out;
    }
    .bread-crumb {
      ul {
        display: flex;
        li {
          padding-left: 16px;
          border-left: 1px solid #202020;
        }
      }
    }
    .bread-crumb .last {
      border-right: 1px solid #202020;
      margin-right: 16px;
    }
    .bread-crumb ul li:nth-child(1) {
      display: none;
    }
    a {
      color: #202020;
      text-decoration: underline;
    }
    a:hover,
    span:hover,
    i:hover {
      color: #9b9b9b;
    }
  }
  .body-product {
    display: grid;
    grid-template-columns: 55% auto;
    margin-top: 10px;
    column-gap: 80px;
    padding-left: 50px;
    .qtd-slide {
      position: absolute;
      font-family: $fonte01;
      font-size: 14px;
      letter-spacing: 0.02em;
    }
    .apresentacao {
      #show {
        #include {
          display: none;
        }
        .slick-slide img {
          width: unset;
        }
        .arrow.slick-arrow {
          color: #202020;
          top: 49%;
        }
        .arrow.prev.slick-arrow {
          left: 0;
          transition: all 0.4s ease-in-out;
        }
        .arrow.prev.slick-arrow:hover {
          left: -5px;
          color: #9b9b9b;
        }
        .arrow.next.slick-arrow {
          right: 0;
          transition: all 0.4s ease-in-out;
        }
        .arrow.next.slick-arrow:hover {
          right: -5px;
          color: #9b9b9b;
        }
        .slick-dots {
          display: none !important;
        }
        .slick-list.draggable {
          width: 78%;
          margin: 0 auto;
        }
      }
    }
    .informacoes {
      font-family: $fonte01;
      color: #202020;
      .productName {
        font-size: 19px;
        line-height: 28px;
        margin-bottom: 16px;
      }
      .plugin-preco {
        .descricao-preco {
          display: flex;
          align-items: center;
          .price-best-price {
            color: #202020;
            font-size: 18px;
            letter-spacing: 0.01em;
            font-weight: 600;
            margin-right: 10px;
          }
          .price-installments {
            display: block !important;
            font-size: 13px;
            color: #555555;
          }
          .skuBestInstallmentValue {
            margin-left: 4px;
          }
        }
        p.preco-a-vista.price-cash {
          display: none !important;
        }
      }
      .select-ponteira {
        margin-top: 29px;
        margin-bottom: 16px;
        h1 {
          font-family: $fonte01;
          font-size: 14px;
          color: #555555;
          margin-bottom: 16px;
        }
        .form-tamanho {
          display: flex;
          align-items: center;
          .tamanho-ponteira {
            position: relative;
            width: 170px;
            select {
              -webkit-appearance: none;
              cursor: pointer;
              font-family: $fonte01;
              width: 100%;
              height: 50px;
              padding-left: 21px;
              color: #202020;
              font-size: 15px;
              letter-spacing: 0.02em;
              border: 1px solid #d2d2d2;
              box-sizing: border-box;
            }
          }
          .tamanho-ponteira:after {
            content: "\f078";
            font-family: "FontAwesome";
            position: absolute;
            font-size: 15px;
            right: 16px;
            top: 18px;
            pointer-events: none;
          }
          .ver-guia {
            display: flex;
            align-items: center;
            #link-guia {
              margin: 0 15px;
              font-family: $fonte01;
              font-size: 13px;
              text-decoration: underline;
              color: #555555;
              cursor: pointer;
              transition: all 0.4s ease-in-out;
            }
            #link-guia:hover {
              color: #9b9b9b;
            }
            #btn-ajuda {
              cursor: pointer;
            }
          }
        }
      }
      #btn-personalize {
        font-family: $fonte01;
        font-size: 12px;
        font-weight: 600;
        display: flex;
        align-items: center;
        justify-content: center;
        text-transform: uppercase;
        color: #444444;
        height: 50px;
        width: 100%;
        border: 1px solid #444444;
        margin-bottom: 16px;
        box-sizing: border-box;
        cursor: pointer;
        transition: all 0.4s ease-in-out;
      }
      #btn-personalize:hover {
        background-color: #4b4b4b;
        color: #fff;
        font-weight: 100;
      }
      .codigoProduto {
        display: flex;
        font-size: 14px;
        color: #202020;
        margin-top: 25px;
        margin-bottom: 20px;
        padding-bottom: 40px;
        border-bottom: 1px solid #d2d2d2;
        .skuReference {
          margin-left: 4px;
        }
      }
      .lista-desejos {
        display: flex;
        align-items: center;
        width: max-content;
        img {
          cursor: pointer;
        }
        .icon-wish.active {
          display: none;
        }
        #btn-add-lista {
          font-family: $fonte01;
          font-size: 14px;
          color: #202020;
          margin-left: 14px;
          cursor: pointer;
        }
      }
    }
  }
}

#btn-compre-agora,
#btn-add-personalizar {
  cursor: pointer;
  .buy-in-page-quantity {
    display: none !important;
  }
  .buy-in-page-button {
    font-family: $fonte01;
    font-size: 12px;
    display: flex !important;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    color: #ffffff;
    background-color: #202020;
    height: 50px;
    width: 100%;
    margin-bottom: 16px;
    text-decoration: none;
  }
  .buy-in-page-button:hover {
    background-color: #4b4b4b;
  }
  .quantity-selector-container {
    display: none;
  }
}

#btn-add-personalizar {
  .buy-in-page-button {
    margin-bottom: 0px;
  }
}

body.produtos .prateleira {
  .linha.btn-comprar {
    margin-top: 25px;
    display: block;
    a {
      font-family: "Montblanc Type";
      font-size: 12px;
      font-weight: 600;
      display: flex;
      align-items: center;
      justify-content: center;
      text-transform: uppercase;
      text-decoration: none;
      color: #444444;
      height: 50px;
      width: 180px;
      border: 1px solid #444444;
      margin-bottom: 16px;
      box-sizing: border-box;
      cursor: pointer;
      transition: all 0.4s ease-in-out;
    }
    a:hover {
      background-color: #4b4b4b;
      color: #fff;
      font-weight: 100;
    }
  }
}

section.produto-descricao {
  margin: 80px 0;
  .links {
    display: flex;
    justify-content: space-between;
    max-width: 664px;
    margin: 0 auto 70px;
    font-family: $fonte01;
    color: #202020;
    .link {
      font-size: 21px;
      cursor: pointer;
    }
    .link.active {
      text-decoration: underline;
    }
  }
  .boxs {
    .box-conteudo {
      font-family: $fonte01;
      font-size: 16px;
      line-height: 27px;
      text-align: center;
      letter-spacing: 0.01em;
      color: #555555;
      max-width: 664px;
      margin: 0 auto;
      display: none;
      .texto {
        overflow: hidden;
        max-height: 130px;
        table {
          width: 100%;
          tr {
            th,
            td {
              text-align: center;
            }
          }
        }
      }
      .texto.active {
        max-height: unset;
      }
      i.active {
        display: none;
      }
      .btn-lerMais {
        padding-top: 21px;
        width: max-content;
        cursor: pointer;
        margin: 0 auto;
        display: flex;
        align-items: center;
        p {
          font-family: $fonte01;
          font-size: 15px;
          letter-spacing: 0.02em;
          color: #202020;
          text-decoration: underline;
          margin-right: 10px;
        }
      }
    }
    .box-conteudo.active {
      display: block;
    }
  }
}

@-webkit-keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}
@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

section.modal-produto {
  display: none;
  position: absolute;
  z-index: 99999;
  padding-top: 200px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.4);
  box-sizing: border-box;
  .modal-content {
    position: relative;
    background-color: #ffffff;
    font-family: $fonte01;
    color: #444444;
    margin: auto;
    padding: 40px;
    max-width: 960px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    animation-name: animatetop;
    animation-duration: 0.4s;
    box-sizing: unset;
    .modal-header {
      border-bottom: 1px solid #444444;
      h1 {
        font-size: 16px;
        letter-spacing: 0.02em;
        margin-bottom: 10px;
      }
      i {
        font-family: $fonte01;
        position: absolute;
        top: 20px;
        right: 20px;
        color: #202020;
        font-size: 16px;
        font-weight: bold;
        z-index: 1;
        &:hover,
        &:focus {
          color: #d2d2d2;
          text-decoration: none;
          cursor: pointer;
        }
      }
    }
    .modal-selecionado {
      margin: 47px 0 20px;
      padding: 15px 0 40px;
      border-bottom: 1px solid #444444;
      border-top: 1px solid #444444;
      h1 {
        font-size: 15px;
        color: #202020;
        margin-bottom: 20px;
      }
      .produto-selecionado {
        display: grid;
        grid-template-columns: 120px 60% auto;
        margin-bottom: 20px;
        .apresentacao {
          #include {
            display: none;
          }
          .thumbs li img {
            width: 120px;
          }
          .thumbs li:nth-child(n + 2) {
            display: none;
          }
        }
        .product-name-cod {
          .productName {
            margin-top: 30px;
            margin-left: 20px;
          }
          .codigoProduto {
            display: flex;
            font-size: 14px;
            color: #202020;
            margin-left: 20px;
            margin-top: 12px;
            .skuReference {
              margin-left: 4px;
            }
          }
        }
        .plugin-preco {
          margin-top: 30px;
          text-align: end;
          .descricao-preco {
            .price-best-price {
              color: #202020;
              font-size: 18px;
              letter-spacing: 0.01em;
              font-weight: 600;
              margin-bottom: 12px;
            }
            .price-installments {
              display: block !important;
              font-size: 12px;
              color: #555555;
            }
          }
          .preco-a-vista.price-cash {
            display: none !important;
          }
        }
      }
      .botoes {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        .botao {
          width: 221px;
          height: 50px;
          display: flex;
          align-items: center;
          justify-content: center;
          font-family: $fonte01;
          font-size: 12px;
          left: 0.1em;
          text-transform: uppercase;
          box-sizing: border-box;
          cursor: pointer;
        }
        #btn-cancel-personalizar {
          border: 1px solid #202020;
          color: #202020;
          margin-right: 10px;
          font-weight: bold;
        }
        .btn-add-sacola {
          text-decoration: none;
          background-color: #202020;
          color: #ffffff;
        }
        .btn-add-sacola {
          margin-left: 40px;
        }
        .btn-continuar-comprando {
          text-decoration: none;
          font-family: $fonte01;
          font-size: 12px;
          color: #202020;
          text-transform: uppercase;
          letter-spacing: 0.2em;
          display: contents;
          i {
            margin-right: 20px;
            font-size: 25px;
          }
        }
      }
    }
  }
}

section#modal-add-produto {
  .modal-content {
    .modal-selecionado {
      margin: unset;
      border-bottom: unset;
      border-top: unset;
      .btn-add-sacola {
        width: 221px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: $fonte01;
        color: #ffffff;
        background: #202020;
        font-size: 12px;
        left: 0.1em;
        text-transform: uppercase;
        box-sizing: border-box;
        cursor: pointer;
        text-decoration: none;
      }
    }
    .text {
      margin-top: 39px;
      margin-bottom: 39px;
      .prateleira-modal-comprar {
        > h2 {
          display: none;
        }
      }
      ul:nth-child(2) {
        border-top: 1px solid #d2d2d2;
      }
      ul {
        border-bottom: 1px solid #d2d2d2;
        color: #202020;
        cursor: pointer;
        .text-topic {
          .nome {
            padding: 0 20px;
            h2 {
              margin-bottom: 0px;
              display: flex;
              justify-content: space-between;
              align-items: center;
              font-size: 15px;
              letter-spacing: 0.01em;
              height: 55px;
            }
          }
        }
        .conteudo {
          padding-bottom: 27px;
          padding-top: 20px;
          display: none;
          .box-display {
            display: flex;
            position: relative;
            .linha.imagem {
              margin: 0 20px;
            }
            .linha.codigo {
              display: flex;
              color: #202020;
              font-size: 14px;
              line-height: 27px;
              .cod {
                margin-left: 5px;
              }
            }
            .linha.preco {
              margin-top: 10px;
              .box {
                font-size: 16px;
                font-weight: 600;
                h3 {
                  margin-right: 5px;
                }
              }
            }
            .btn-sacola {
              position: absolute;
              right: 0;
              height: 100%;
              display: flex;
              align-items: center;
              .amount-in-cart {
                display: none;
              }
              a {
                width: 221px;
                height: 50px;
                display: flex;
                align-items: center;
                justify-content: center;
                font-family: "Montblanc Type";
                color: #ffffff;
                background: #202020;
                font-size: 12px;
                left: 0.1em;
                text-transform: uppercase;
                box-sizing: border-box;
                cursor: pointer;
                text-decoration: none;
              }
            }
          }
          .box {
            display: flex;
            justify-content: flex-end;
          }
        }
        i.active {
          display: none;
        }
      }
    }
  }
}

section#modal-personalizar {
  .modal-content {
    .modal-body {
      display: flex;
      position: relative;
      .body-texto {
        .titulo {
          margin-top: 40px;
          font-size: 12px;
          letter-spacing: 0.2em;
          color: #202020;
          text-transform: uppercase;
        }
        .titulo:nth-child(4) {
          margin-top: 70px;
        }
        .input-texto {
          position: relative;
          width: max-content;
          margin-top: 20px;
          .escreva-texto {
            width: 383px;
            height: 50px;
            padding-left: 20px;
            color: #555555;
            font-style: italic;
            font-size: 12px;
            line-height: 12px;
            letter-spacing: 0.1em;
            display: flex;
            outline: none;
            box-sizing: border-box;
            border: 1px solid #d2d2d2;
          }
          .confirmText {
            padding-top: 10px;
            position: absolute;
            color: red;
          }
          .escreva-texto::-webkit-input-placeholder,
          .escreva-texto:-moz-placeholder,
          .escreva-texto::-moz-placeholder,
          .escreva-texto:-ms-input-placeholder {
            color: #555555;
          }
          button {
            background: none;
            border: none;
            position: absolute;
            color: #555555;
            top: 6px;
            right: 2%;
            font-size: 35px;
            outline: none;
            cursor: pointer;
          }
          ::-webkit-input-placeholder {
            color: #555555;
            letter-spacing: 0.1em;
          }

          :-moz-placeholder {
            /* Firefox 18- */
            color: #555555;
            letter-spacing: 0.1em;
          }

          ::-moz-placeholder {
            /* Firefox 19+ */
            color: #555555;
            letter-spacing: 0.1em;
          }

          :-ms-input-placeholder {
            color: #555555;
            letter-spacing: 0.1em;
          }
        }
        .conteudo-gravacao {
          display: flex;
          .grav-input {
            display: flex;
            margin-top: 31px;
            margin-right: 60px;
            position: relative;
            input {
              display: none;
            }
            input[type="radio"] + label::before {
              content: "";
              position: absolute;
              width: 20px;
              height: 20px;
              left: 0;
              bottom: 0;
              border: solid 2px #d2d2d2;
              vertical-align: bottom;
              box-sizing: border-box;
              border-radius: 100%;
            }
            input[type="radio"]:checked + label::before {
              border: solid 2px #202020;
            }
            input[type="radio"]:checked + label::after {
              content: "";
              position: absolute;
              left: 7px;
              bottom: 7px;
              width: 4px;
              height: 7px;
              border-right: solid 2px #202020;
              border-bottom: solid 2px #202020;
              transform: rotate(45deg);
            }
            label {
              color: #444444;
              font-size: 14px;
              letter-spacing: 0.02em;
              height: 17px;
              align-items: center;
              margin-left: 30px;
              cursor: pointer;
              h2 {
                font-size: 12px;
                color: #555555;
                margin-top: 10px;
                font-style: italic;
              }
            }
            .tampa.disabled,
            .clip.disabled,
            .fonte01.disabled,
            .fonte02.disabled,
            .fonte03.disabled {
              color: #d2d2d2;
              cursor: not-allowed;
            }
          }
        }
      }
      #grav-img,
      #grav-img-clip {
        margin-top: 40px;
        height: 100%;
      }
      #grav-img-clip {
        display: none;
      }
      div.valorGravacao {
        position: absolute;
        width: 190px;
        top: 165px;
        right: 106px;
        font-size: 0.9em;
        text-align: center;
        color: #caab78;
      }
      div.valorGravacao.clip {
        width: 1px;
        word-wrap: break-word;
        white-space: pre-wrap;
        line-height: 1.2;
        right: 220px;
        top: 100px;
        color: #503a1d;
      }
      div.valorGravacao.fonte01 {
        font-family: cursive;
      }
      div.valorGravacao.fonte02 {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
      }
      div.valorGravacao.fonte03 {
        font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
      }
    }
    .atencao {
      font-family: $fonte01;
      p {
        font-size: 12px;
        color: #757575;
        line-height: 180%;
        letter-spacing: 0.1em;
        strong {
          font-weight: bold;
        }
      }
    }
  }
}

.produtos {
  position: relative;
  section.pitchbar {
    font-family: $fonte01;
    margin-bottom: 80px;
    border-top: 1px solid #d2d2d2;
    border-bottom: 1px solid #d2d2d2;
    padding: 40px 0;
  }
  section.banner-product2 {
    .banner-topo {
      h1 {
        font-size: 12px;
        margin-bottom: 11px;
      }
      h2 {
        font-size: 22px;
      }
    }
    .products {
      .prateleira {
        .linha.imagem {
          .estoque-produto {
            display: none;
          }
        }
        .linha.tag {
          display: none;
        }
      }
    }
  }
  section.recomendamos {
    .products {
      .prateleira {
        display: grid;
        ul {
          display: flex;
          li {
            margin-right: 20px;
            width: 357px;
          }
        }
      }
    }
  }
}

section.banner-product1 {
  margin-top: 80px;
  .box-product1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 22px;
    row-gap: 22px;
    // img {
    //   width: 100%;
    // }
    .products {
      .product {
        max-width: 281px;
        margin: 0 auto;
        font-family: $fonte01;
        letter-spacing: 0.01em;
        color: #202020;
        font-size: 15px;
        cursor: pointer;
        .description {
          margin-top: 19px;
          h1 {
            height: 45px;
          }
          h2 {
            font-weight: 600;
            margin: 15px 0 15px;
          }
          h3 {
            font-size: 13px;
            color: #555555;
          }
        }
      }
    }
  }
}

section.banner-product2 {
  padding: 0 30px;
  margin-bottom: 80px;
  .banner-topo {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    font-family: $fonte01;
    letter-spacing: 0.05em;
    h1 {
      font-size: 22px;
      color: #202020;
    }
    a {
      font-size: 15px;
      color: #202020;
      text-decoration: underline;
      transition: all 0.4s ease-in-out;
    }
    a:hover {
      color: #9b9b9b;
    }
  }
  .products {
    .prateleira > :first-child {
      display: none;
    }
    .prateleira {
      font-family: $fonte01;
      color: #202020;
      letter-spacing: 0.01em;
      .slick-slide {
        margin: 0 20px;
      }
      .linha.nome h2 a {
        height: 54px;
        font-size: 15px;
        line-height: 27px;
        margin-top: 20px;
        text-decoration: none;
        color: #202020;
      }
      .linha.nome {
        margin-top: 20px;
        height: 80px;
      }
      .linha.preco {
        margin: 10px 0 15px;
      }
      .linha.preco {
        display: flex;
        align-items: center;
        .best-price {
          font-size: 15px;
          font-weight: 600;
          margin-right: 10px;
        }
        .installment {
          font-size: 13px;
          color: #555555;
        }
      }
      .linha.tag {
        display: flex;
        align-items: flex-end;
        font-size: 12px;
        color: #444444;
        .icon-img {
          margin-right: 10px;
        }
        ul {
          display: none;
        }
      }
    }
  }
}

.magazine-historia {
  section.banner-product2 {
    .products .prateleira ul {
      display: flex;
      li:nth-child(3) {
        margin: 0 20px;
      }
    }
  }
}

@media (max-width: 950px) {
  section.produto-item {
    .content {
      padding: 0 15px;
      .links {
        .bread-crumb,
        .brandName {
          display: none;
        }
      }
    }
    .body-product {
      display: flex;
      flex-direction: column;
      margin-top: 10px;
      padding-left: 0;
      .apresentacao {
        #show {
          .slick-slide {
            img {
              width: 100%;
              height: inherit;
            }
          }
        }
      }
    }
  }
  section.produto-descricao {
    .links {
      flex-direction: column;
      justify-content: center;
      text-align: center;
      margin: 0 auto 20px;
      .link {
        margin-bottom: 10px;
      }
    }
  }
  section.banner-product1 {
    .box-product1 {
      padding: 0 30px;
      grid-template-columns: 1fr;
      img {
        width: 100%;
      }
      .products {
        .prateleira {
          ul {
            align-items: center;
            flex-direction: column;
          }
        }
      }
    }
  }
  section.banner-product1 {
    .box-product1 {
      .products {
        .product {
          .description h1 {
            height: 65px;
          }
        }
      }
    }
  }
  section.banner-product2 {
    padding: 0 15px;
    .banner-topo {
      flex-direction: column;
      text-align: center;
      h1 {
        margin-bottom: 10px;
      }
    }
    .products {
      grid-template-columns: 1fr;
    }
  }
  section.modal-produto {
    .modal-content {
      .modal-selecionado {
        .produto-selecionado {
          display: flex;
          flex-direction: column;
          .apresentacao {
            margin: 0 auto;
          }
          .product-name-cod {
            text-align: center;
            .productName {
              margin-left: 0;
            }
          }
        }
        .botoes {
          flex-direction: column;
          #btn-cancel-personalizar {
            margin-right: 0;
            margin-bottom: 10px;
          }
          .btn-add-sacola {
            margin-left: 0;
            margin-top: 30px;
          }
        }
      }
    }
  }
  section#modal-add-produto {
    .modal-content {
      .text {
        ul {
          .text-topic {
            .nome {
              padding: 5px 20px;
            }
          }
          .conteudo {
            .box-display {
              flex-direction: column;
              .linha.imagem {
                margin: 0 auto;
              }
              .linha.codigo {
                justify-content: center;
              }
              .btn-sacola {
                position: unset;
                margin-top: 15px;
                a {
                  width: 100%;
                }
                .wrapper-buy-button-asynchronous {
                  width: 100%;
                  .add {
                    width: 100%;
                  }
                }
              }
            }
            .box {
              justify-content: center;
            }
          }
        }
      }
    }
  }
  section#modal-personalizar {
    .modal-content {
      .modal-body {
        flex-direction: column;
        div.valorGravacao {
          bottom: 90px;
          left: 24px;
          right: 0;
          top: unset;
        }
        div.valorGravacao.clip {
          top: unset;
          bottom: 135px;
          right: 0;
          left: 105px;
        }
        .body-texto {
          .input-texto {
            width: 100%;
            .escreva-texto {
              width: 100%;
            }
          }
          .conteudo-gravacao {
            flex-direction: column;
          }
        }
      }
    }
  }
  .produtos {
    section.recomendamos {
      .products {
        .prateleira {
          ul {
            align-items: center;
            flex-direction: column;
            li {
              margin-right: 0px;
              width: unset;
              img {
                width: 100%;
                height: inherit;
              }
            }
          }
        }
      }
    }
  }
  body.produtos {
    .setas-slide .arrow.next.slick-arrow,
    .setas-slide .arrow.prev.slick-arrow {
      border: 1px solid #202020;
      color: #585858;
    }
  }
}
