section.selecionar-pais {
  margin-top: 180px;
  margin-bottom: 109px;
  .content {
    max-width: 604px;
    font-family: $fonte01;
    text-align: center;
    color: #444444;
    h1 {
      letter-spacing: 0.2em;
      font-size: 13px;
      margin-bottom: 20px;
    }
    h2 {
      font-size: 30px;
      color: #000;
      margin-bottom: 70px;
    }
    p {
      font-size: 15px;
      margin-bottom: 50px;
      line-height: 22px;
      border-bottom: 1px solid #d2d2d2;
      padding-bottom: 40px;
      letter-spacing: 0.05em;
    }
    .selecionar-pais-inputs {
      display: flex;
      flex-direction: column;
      max-width: 400px;
      margin: 0 auto;
      position: relative;
      p {
        border-bottom: unset;
        margin-bottom: 0;
        padding-bottom: 20px;
      }
      .selecionar-pais-select {
        position: relative;
      }
      .selecionar-pais-select::after {
        content: "\f078";
        font-family: "FontAwesome";
        position: absolute;
        font-size: 18px;
        right: 16px;
        top: 16px;
        pointer-events: none;
      }
      select {
        margin-bottom: 14px;
        width: 100%;
        height: 50px;
        padding-left: 21px;
        color: #202020;
        font-size: 15px;
        letter-spacing: 0.02em;
        border: 1px solid #d2d2d2;
        box-sizing: border-box;
      }
      select {
        -webkit-appearance: none;
        cursor: pointer;
      }
    }
    button {
      margin: 6px auto 80px;
      height: 50px;
      width: 400px;
      display: flex;
      justify-content: center;
      align-content: center;
      font-size: 12px;
      letter-spacing: 0.1em;
      text-transform: uppercase;
      color: #ffffff;
      background-color: #202020;
      border: none;
      cursor: pointer;
      transition: all 0.4s ease-in-out;
    }
    button:hover {
      background-color: #4b4b4b;
    }
    .links-pais {
      font-size: 15px;
      text-align: center;
      line-height: 18px;
      letter-spacing: 0.02em;
      display: flex;
      flex-direction: column;
      a {
        outline: none;
        text-decoration: none;
        color: #444444;
        margin-bottom: 20px;
        strong {
          font-weight: 600;
        }
      }
    }
  }
}
