body.vitrines {
  // .box.filtro:after,
  // .box.filtro:before {
  //   display: table;
  //   content: "";
  //   clear: both;
  // }
  .box.filtro {
    padding-top: 175px;
    position: fixed;
    width: 100%;
    z-index: 8888;
    background-color: #fff;
    border-bottom: 1px solid #d2d2d2;
    transition: padding-top 0.4s;
    .navigation-tabs {
      position: relative;
    }
    .navigation-tabs:after,
    .navigation-tabs:before {
      display: table;
      content: "";
      clear: both;
    }
    .box-links-navigator {
      font-family: $fonte01;
      font-size: 12px;
      color: #202020;
      display: flex !important;
      align-items: center;
      i {
        font-size: 25px;
        margin-right: 15px;
        cursor: pointer;
        text-decoration: none !important;
        transition: all 0.4s ease-in-out;
      }
      .voltar {
        text-decoration: underline;
        margin-right: 20px;
        cursor: pointer;
        transition: all 0.4s ease-in-out;
      }
      h3,
      h4 {
        a {
          color: #202020;
          text-decoration: underline;
          transition: all 0.4s ease-in-out;
        }
      }
      h3 {
        padding-right: 10px;
      }
      h4 {
        padding: 0 10px;
        border-left: 1px solid;
      }
      i:hover,
      .voltar:hover,
      h3 a:hover,
      h4 a:hover {
        color: #9b9b9b;
      }
    }
    .menu-departamento {
      .menu-navegue {
        display: none;
      }
      .search-single-navigator {
        display: none !important;
      }
      .search-multiple-navigator {
        font-family: $fonte01;
        font-size: 12px;
        color: #202020;
        display: block !important;
        z-index: 1;
        .bt-refinar {
          position: absolute;
          bottom: -45px;
          right: 160px;
          z-index: 2;
          font-family: "Montblanc Type";
          font-size: 12px;
          display: flex !important;
          align-items: center;
          justify-content: center;
          text-transform: uppercase;
          color: #ffffff;
          background-color: #202020;
          height: 25px;
          width: 200px;
          margin-bottom: 16px;
          text-decoration: none;
        }
        .bt-refinar:hover {
          background-color: #383838;
        }
        fieldset {
          a {
            font-size: 15px;
            line-height: 27px;
            letter-spacing: 0.02em;
            color: #202020;
          }
          a:hover {
            text-decoration: underline;
          }
        }
        fieldset {
          display: none;
        }
        fieldset:nth-child(2),
        fieldset:nth-child(3),
        fieldset:nth-child(4),
        fieldset:nth-child(5) {
          display: block !important;
          height: 100% !important;
          margin-bottom: 17px !important;
        }
        fieldset {
          width: 280px;
          background-color: #fff;
          border: 1px solid #202020;
          box-sizing: border-box;
          font-size: 15px;
          line-height: 27px;
          letter-spacing: 0.02em;
          color: #202020;
          float: left;
          margin-right: 17px;
          margin-bottom: 17px;
          position: relative;
          h5 {
            padding: 12px 20px;
            cursor: pointer;
          }
          h5:after {
            content: "\f078";
            font-family: "FontAwesome";
            position: absolute;
            font-size: 15px;
            right: 16px;
            top: 12px;
            pointer-events: none;
          }
          h5.active:after {
            content: "\f077";
          }
          div:nth-child(2) {
            padding: 20px;
            display: none;
            position: absolute;
            left: -1px;
            z-index: 2;
            background-color: #fff;
            width: calc(100% + 2px);
            border-bottom: 1px solid #202020;
            border-right: 1px solid #202020;
            border-left: 1px solid #202020;
            box-sizing: border-box;
            label {
              display: flex;
              align-items: center;
              position: relative;
              cursor: pointer;
              input[type="checkbox"] {
                -webkit-appearance: none;
                width: 20px;
                min-width: 20px;
                height: 20px;
                border: solid 2px #d2d2d2;
                vertical-align: bottom;
                box-sizing: border-box;
                border-radius: 100%;
                margin-right: 10px;
                cursor: pointer;
              }
              input[type="checkbox"]:checked {
                border: solid 2px #202020;
              }
              input[type="checkbox"]:checked:after {
                content: "";
                position: absolute;
                left: 7px;
                bottom: 9px;
                width: 4px;
                height: 7px;
                border-right: solid 2px #202020;
                border-bottom: solid 2px #202020;
                transform: rotate(45deg);
              }
            }
          }
        }
      }
    }
    .box-searchResultsTime {
      position: relative;
      margin: 10px 0 35px;
      display: flex;
      justify-content: center;
      .btn-mostrar-filtros {
        position: absolute;
        display: flex;
        flex-direction: row-reverse;
        width: max-content;
        font-family: $fonte01;
        font-size: 15px;
        letter-spacing: 0.02em;
        color: #202020;
        cursor: pointer;
        padding: 0 30px;
        transition: all 0.4s ease-in-out;
      }
      .btn-mostrar-filtros:hover {
        color: #9b9b9b;
      }
      .btn-mostrar-filtros.active:after {
        content: "\f077";
      }
      .btn-mostrar-filtros:after {
        content: "\f078";
        font-family: "FontAwesome";
        position: absolute;
        font-size: 15px;
        right: 0px;
        top: 0;
        pointer-events: none;
      }
      .searchResultsTime:nth-child(2) {
        display: none;
      }
      .searchResultsTime {
        position: absolute;
        left: 0;
        .resultado-busca-termo,
        .resultado-busca-tempo {
          display: none;
        }
        .resultado-busca-numero {
          display: flex;
          flex-direction: row-reverse;
          width: max-content;
          font-family: $fonte01;
          font-size: 15px;
          letter-spacing: 0.02em;
          color: #202020;
          .value {
            margin-right: 5px;
          }
        }
      }
      .sub {
        position: absolute;
        top: 0;
        right: 0;
        .resultado-busca-filtro:hover {
          color: #9b9b9b;
        }
        .resultado-busca-filtro {
          font-family: $fonte01;
          font-size: 15px;
          letter-spacing: 0.02em;
          color: #202020;
          transition: all 0.4s ease-in-out;
          .filterBy,
          .compare {
            display: none;
          }
          fieldset.orderBy {
            position: relative;
            width: 200px;
            cursor: pointer;
            label {
              position: absolute;
              pointer-events: none;
              right: 50px;
            }
            select {
              border: 0;
              -webkit-appearance: none;
              width: 100%;
              outline: none;
              cursor: pointer;
              color: transparent;
              option {
                color: #202020;
              }
            }
          }
          fieldset.orderBy:after {
            content: "\f078";
            font-family: "FontAwesome";
            position: absolute;
            font-size: 15px;
            right: 16px;
            top: 0;
            pointer-events: none;
          }
          fieldset.orderBy.active:after {
            content: "\f077";
          }
        }
      }
    }
  }
  section.banner-product2 {
    padding: 350px 30px 0;
    .products {
      .main {
        position: relative;
        margin-top: 20px;
        .sub {
          position: absolute;
          top: 0;
          right: 0;
        }
      }
      .prateleira > :first-child {
        display: flex;
        justify-content: space-between;
      }
      .prateleira {
        display: flex;
        flex-direction: column;
        .linha.imagem {
          img {
            width: 100%;
            max-width: 382px;
            height: inherit;
          }
        }
        ul {
          display: flex;
          li {
            margin: 30px 0px;
            width: 389px;
            figure {
              position: relative;
              .estoque-produto {
                position: absolute;
                bottom: 15px;
                right: 15px;
                font-family: $fonte01;
                font-size: 11px;
                letter-spacing: 0.01em;
                color: #444444;
                .bolinha {
                  margin-left: 25px;
                }
                .bolinha:before {
                  content: "";
                  width: 12px;
                  height: 12px;
                  background-color: #008000;
                  border-radius: 50%;
                  display: inline-block;
                  position: absolute;
                  right: 3px;
                  top: -1px;
                  z-index: 2;
                }
                .bolinha:after {
                  content: "";
                  height: 16px;
                  width: 16px;
                  background-color: #fff;
                  border: 1px solid #444;
                  border-radius: 50%;
                  display: inline-block;
                  position: absolute;
                  top: -4px;
                  right: 0;
                  z-index: 1;
                  opacity: 0.6;
                }
                .bolinha.indisponivel:before {
                  background-color: #b22222;
                }
              }
            }
          }
        }
      }
      .main {
        p:nth-child(4) {
          display: none;
        }
        div:nth-child(5) {
          display: none;
        }
        .vitrine {
          .pager.top,
          .pager.bottom {
            display: none;
          }
        }
      }
    }
  }
}

@media (max-width: 950px) {
  body.vitrines {
    .box.filtro {
      position: unset;
      .content {
        padding: 0 15px;
      }
      .menu-departamento {
        .search-multiple-navigator {
          fieldset {
            width: 100%;
          }
          .bt-refinar {
            bottom: -65px;
            margin-bottom: 0;
            width: 100%;
            right: 0;
          }
        }
      }
      .box-searchResultsTime {
        margin: 95px 0 35px;
        flex-direction: column-reverse;
        width: 100%;
        .sub {
          top: -5px;
        }
        .btn-mostrar-filtros {
          top: -90px;
          padding: 0 30px 0 0;
          box-sizing: border-box;
        }
      }
    }
  }
  body.vitrines {
    section.banner-product2 {
      padding: 0px 15px 0;
      .products {
        .prateleira {
          .linha.preco {
            align-items: flex-start;
            flex-direction: column;
          }
          ul {
            flex-direction: column;
            li {
              width: 100%;
            }
          }
        }
      }
    }
  }
}
