section.banner-principal-departamento {
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 375px;
  padding: 0 30px;
  .content {
    height: 100%;
    display: flex;
    align-items: flex-end;
    .text {
      font-family: $fonte01;
      color: #ffffff;
      letter-spacing: 0.01em;
      display: flex;
      flex-direction: column;
      h1 {
        font-size: 42px;
        margin-bottom: 12px;
      }
      p {
        font-size: 15px;
        margin-bottom: 74px;
      }
    }
  }
  @media (max-width: 950px) {
    height: 200px;
    margin-top: 104px;
    .content {
      .text {
        h1 {
          font-size: 35px;
        }
        p {
          margin-bottom: 20px;
        }
      }
    }
  }
}

section.banner-product1 {
  .box-product1 {
    .product-img {
      position: relative;
      .box-text-img {
        position: absolute;
        font-family: $fonte01;
        color: #ffffff;
        padding: 30px;
        letter-spacing: 0.01em;
        bottom: 24%;
        h1 {
          font-size: 42px;
          margin-bottom: 20px;
        }
        p {
          font-size: 15px;
          line-height: 27px;
          margin-bottom: 20px;
        }
        a {
          display: flex;
          align-items: center;
          justify-content: center;
          color: #ffffff;
          text-decoration: none;
          border: 1px solid #ffffff;
          width: 275px;
          height: 48px;
          font-size: 12px;
          text-transform: uppercase;
          transition: all 0.4s ease-in-out;
        }
        a:hover {
          background-color: #fff;
          color: #202020;
        }
      }
    }
    .products {
      .prateleira > :first-child {
        display: none;
      }
      .prateleira {
        font-family: $fonte01;
        color: #202020;
        letter-spacing: 0.01em;
        .produto-item {
          width: 281px;
        }
        .linha.imagem {
          img {
            width: 100%;
            height: inherit;
          }
          .estoque-produto {
            display: none;
          }
        }
        .linha.tag {
          display: none;
        }
        ul {
          display: flex;
          li:nth-child(3) {
            margin: 0 20px;
          }
        }
        .slick-slide {
          margin: 0 20px;
        }
        .linha.nome h2 a {
          height: 54px;
          font-size: 15px;
          line-height: 27px;
          margin-top: 20px;
          text-decoration: none;
          color: #202020;
        }
        .linha.nome {
          margin-top: 20px;
          height: 60px;
        }
        .linha.preco {
          margin: 10px 0 15px;
        }
        .linha.preco {
          display: flex;
          align-items: center;
          .best-price {
            font-size: 15px;
            font-weight: 600;
            margin-right: 10px;
          }
          .installment {
            font-size: 13px;
            color: #555555;
          }
        }
      }
    }
    @media (max-width: 950px) {
      .product-img {
        .box-text-img {
          bottom: 0%;
          padding: 15px;
          h1 {
            font-size: 32px;
            margin-bottom: 10px;
          }
          p {
            font-size: 12px;
            line-height: 17px;
            margin-bottom: 10px;
          }
          a {
            width: 200px;
            height: 28px;
          }
        }
      }
    }
  }
}

section.banner-departamento {
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 590px;
  padding: 0 30px;
  .content {
    height: 100%;
  }
  .text {
    position: absolute;
    bottom: 55px;
    font-family: $fonte01;
    color: #ffffff;
    letter-spacing: 0.03em;
    width: 100%;
    h1 {
      font-size: 42px;
      line-height: 27px;
      margin-bottom: 20px;
    }
    p {
      font-size: 15px;
      line-height: 27px;
      margin-bottom: 32px;
      max-width: 454px;
    }
    a {
      display: flex;
      align-items: center;
      justify-content: center;
      color: #ffffff;
      text-decoration: none;
      border: 1px solid #ffffff;
      width: 275px;
      height: 48px;
      font-size: 12px;
      text-transform: uppercase;
    }
  }
  @media (max-width: 950px) {
    height: 250px;
    .text {
      bottom: 30px;
      h1 {
        font-size: 25px;
        margin-bottom: 10px;
      }
      p {
        font-size: 13px;
        margin-bottom: 12px;
        line-height: 20px;
      }
      a {
        width: 200px;
        height: 28px;
      }
    }
  }
}

section#banner-departamento02 {
  margin-top: 80px;
}

section#banner-departamento03 {
  margin-top: 80px;
}

section#banner-departamento04 {
  margin-top: 80px;
  margin-bottom: 200px;
}

.vitrine-departamento {
  section.magazine-banner-todas {
    background-color: #f2f2f2;
    padding: 80px 30px;
    h1 {
      font-family: $fonte01;
      font-size: 22px;
      color: #202020;
      letter-spacing: 0.05em;
      margin-bottom: 25px;
    }
    .box-banner {
      .card-text {
        h1 {
          margin-bottom: 20px;
        }
        p {
          margin-bottom: 5px;
          max-width: 380px;
        }
        a {
          font-weight: bold;
        }
      }
    }
  }
}
