section.voltar-topo {
    position: fixed;
    bottom: 80px;
    z-index: 1000;
    right: 0;
    width: 44px;
    height: 44px;
    background-color: #202020;
    border: 1px solid rgba(255, 255, 255, 0.2);
    color: #fff;
    display: none;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
